/*linear-gradient(#2c3e50,#1a1a1a);*/
/*font-family: 'Piedra', cursive;*/
/*font-family: 'PT Sans', sans-serif;*/




/*nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,*/


#nav1{
    border-color: dodgerblue;
    border-radius: 20px;
}

#nav1:hover{
    background-color: dodgerblue;
    
}

#nav2{
    width: 100px;
}

#nav3:hover{
    color: white;
}


/*nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,nab,*/











/*header,header,header,header,header,header,header,header,header,header,header,header,*/

.span:hover{
    color: dodgerblue;
}



#my_picture:hover{
    box-shadow: 5px 5px 10px #2c3e50b7;
    
}

#my_picture {
    margin:auto;
    display: block;
    width: 300px;
    height: 300px;
    
}
.hed1{
    text-align: center;
    font-family: 'Piedra', cursive;
}

#hed2{
    text-align: center;
    font-family: 'PT Sans', sans-serif;

}

#hed3{
    font-family: 'Piedra', cursive;
}


.hed4{
    width: 250px;
}

/*header,header,header,header,header,header,header,header,header,header,header,header,*/








/*about me,about me,about me,about me,about me,about me,about me,about me,about me,*/


 #bulb-picture{
    margin:auto;
    display: block;
    width: 222px;  
    
 }

 #bulb-picture:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.568);
 }



 #about1{
   text-align: center;
   font-family: 'Piedra', cursive;
 }
 .span1:hover{
   color: dodgerblue;
   text-shadow:5px 5px 10px dodgerblue;
 }




 .about2{
   text-align: center;
   font-family: 'PT Sans', sans-serif;
 }

 #about3{
   border-bottom: 3px solid;
   border-color: gray;
 }



 #about5{
   border-radius: 20px;
   padding: 11px 30px 11px 30px;
   
 }
 #about5:hover{
   background-color: dodgerblue;
 }



 #as{
   color: white;
 }





  /*about me,about me,about me,about me,about me,about me,about me,about me,about me,*/






  /*card,card,card,card,card,card,card,card,card,card,card,card,card,card,card,card,card,*/


 #card1{
    background-image: linear-gradient(#2c3e50df,#1a1a1aa1);
    color: white;
    border-radius: 10px;
    
 }



 #card2{
    background-image: linear-gradient(#2c3e50df,#1a1a1aa1);
    color: white;
    border-radius: 10px;
    
 }






  /*card,card,card,card,card,card,card,card,card,card,card,card,card,card,card,card,card,*/


  /*recent work,recent work,recent work,recent work,recent work,recent work,recent work,*/


 .recent1{
     text-align: center;
 }




 .flip-box1 {
    background-color: transparent;
    height: 210px;
    border: 1px solid none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box1:hover .flip-box-inner1 {
    transform: rotateX(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front1, .flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front1 {
    background-color: none;
    color: black;
    border-radius: 14px;
  }
  
  /* Style the back side */
  .flip-box-back1 {
    background-image: linear-gradient(#2c3e50,#1a1a1a);
    color: white;
    transform: rotateX(180deg);
  }









  .picf{
      width: 350px;
      height: 210px;
      border: 2px solid;
      border-image: linear-gradient(180deg,rgba(0, 0, 255, 0.342),rgba(0, 255, 255, 0.459));
      border-image-slice: 1;
      
  }





  .btn1{
    background-color: white;
    border-radius: 15px;
    padding: 4px;
  }
  .btn1:hover{
      background-color: dodgerblue;
      color: white;
  }







    /*recent work,recent work,recent work,recent work,recent work,recent work,recent work,*/